@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.15s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #eab308; /* yellow-500 */
}
button:focus,
button:focus-visible {
    outline: none;
}

.card {
    padding: 2em;
}

#app {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

@layer components {
    .btn-primary {
        @apply bg-yellow-500 border border-yellow-500 text-white
        hover:bg-white hover:text-yellow-500 hover:border-yellow-500
        focus:outline-none focus:ring-yellow-500
        transition-colors duration-300;
    }

    .btn-secondary {
        @apply bg-slate-600 border border-slate-600 text-white
        hover:bg-white hover:text-slate-600 hover:border-slate-600
        focus:outline-none focus:ring-slate-600
        transition-colors duration-300;
    }

    .form-input {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-yellow-500 focus:border-yellow-500 focus:outline-none block w-full p-2.5;
    }
}
